title {
    text-align: ;
    margin: ;
    /* top, right, bottom, left */
    margin-top: ;
    margin-bottom: ;
}

body {
    background-color: white;
        height: ;
    background-image: url(img/);
        background-position: ;
        background-size: ;
    padding: ;
    color: black;
    font-family: ;
    font-size: 25px;
}