h1 {
  color: white;
  font-family: "Bebas Neue", serif;
  font-size: 65px;
  text-align: center;
  padding-top: 50px;
}

body {
  background-color: rgb(165, 0, 0);
  color: black;
}

.box {
  border: 10px;
  height: 700px;
  width: 25%;
  margin: 30px;
  background-color: black;
}

#text {
  color: white;
  font-family: "Bebas Neue", serif;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
}

#caption {
  color: white;
  font-family: "Lora", serif;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

img {
  margin: 0 auto;
  display: block;
  height: 400px;
}

.main {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
